body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: grey;
}

.body{
    width: 100%;
    height: 100%;
}

@media all and (max-width: 850px){
    .page{
        width: 100%;
    }

    body{
        font-size: x-small;
    }

    #avatar{
        height: 100px; 
        width: 100px;
    }
}

@media all and (min-width: 850px){
    .page{
        width: 70%;
        margin-left: 15%;
    }

    #avatar{
        height: 150px; 
        width: 150px;
    }
}

.page{
    position: absolute;
    height: 100%;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
}

.primary{
    position: relative;
    margin: 0;
    height: 100%;
    width: 40%;
    padding: 4%;
    background-color: white;
}

.secondary{
    position: relative;
    margin: 0;
    height: 100%;
    width: 60%;
    padding: 4%;
    background-color: rgb(212, 215, 245);
}

#avatar{
    border-radius: 360px;
}